web:
  build: .
  ports:
    - "8080:8080"
  links:
  - db
  volumes:
    - .:/app
db:
  image: postgres

testdb:
  image: postgres
  ports:
    - "5432:5432"

#   volumes_from:
#     - dbdata
# dbdata:
#   image: postgres
#   volumes:
#     - /var/lib/postgresql
